<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= day_of_week %> !! </h1 >
    </div>

    <div class="box">


      <% for (var i=0; i<items.length; i++) { %>

        <div class="item">
          <input type="checkbox">
          <p><%= items[i] %></p>

        </div>


      <% } %>

      <form class="" action="/" method="post">
        <input type="text" name="newitem" placeholder="New Item" autocomplete="false">
        <button type="submit" name="button">+</button>
      </form>

    </div>





  </body>
</html>
