body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

a{
  color: #211722;
}

h1 {
  font-family: 'Questrial', sans-serif;
  margin-top: 70px;
  margin-bottom: 0px;
  margin: 0 auto 0 auto;
  color: white;
}

h2 {
   margin-top: 0;
   font-family: 'Questrial', sans-serif;
   color: #BFBFBE;
   margin-left: 10px;
}
p {
   color: white;
   margin-bottom: 0;
   font-family: 'Questrial', sans-serif;
}


.top-container {
    margin-top: 0;
    background-color: #171717;
    margin-bottom: 0;
    margin-bottom: 0;
}

.middle-container {
  margin-top: 0;
  background-color: #444444;
  height: 200px;
  margin-bottom: 0;
}

.bottom-container {
  margin-top: 0;
  background-color: #444444;
  height: 500px;
  margin-bottom: 0;
}

.last-container{
  background-color: #EDEDED;
  height: 150px;
  margin-bottom: 0;
}
.languages
{
  font-family: 'Questrial', sans-serif;
  margin-left: 30%;
}

.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #788b96);
  background-image: -moz-linear-gradient(top, #000000, #788b96);
  background-image: -ms-linear-gradient(top, #000000, #788b96);
  background-image: -o-linear-gradient(top, #000000, #788b96);
  background-image: linear-gradient(to bottom, #000000, #788b96);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
